$color: #ec9d29;
$blue: #0D6DCC;
$input-place: #F2C189;
/* 改变主题色变量 */
$--color-primary: #ec9d29;

$padding: 20px;

body {
  .el-dialog__title {
    font-size: 32px;
  }
  .active-drop.el-dropdown-menu__item {
    color: $--color-primary;
  }
}
// $--dialog-content-font-size: 20px !default;
// $--font-size-large: 28px;