$color: #ec9d29;
$blue: #0D6DCC;
$input-place: #F2C189;
/* 改变主题色变量 */
$--color-primary: #ec9d29;

$padding: 20px;

@mixin all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-date .el-input__inner {
  color: $color;
  border: 1px solid $color;
}
// $--dialog-content-font-size: 20px !default;
// $--font-size-large: 28px;