.my-dialog--title {
  font-size: 28px;
}
body {
  font-family: "Microsoft Yahei";
  .my-dialog {
    .el-form-item__label {
      font-size: 20px;
    }
    .el-input__inner,
    .el-textarea {
      font-size: 20px;
    }
    .dialog-btn {
      font-size: 20px;
      padding-left: 20px;
      padding-right: 20px;
      min-width: 200px;
    }
  }

  ul .el-dropdown-menu__item {
    font-size: 18px;
    height: 2em;
    line-height: 2em;
  }

  .my-table .el-table__header {
    & thead th {
      background: #F5F0F0;
      font-size: 20px;
      color: #000;
      font-weight: normal;
    }
  }
  .dialog-btn--exit {
    color: #000;
  }

  .el-checkbox__inner {
    width: 20px;
    height: 20px;
  }
  .el-checkbox__inner::after {
    left: 8px;
    height: 12px;
  }

  .el-button {
    font-size: 18px;
  }
  .setting-layout .el-table .cell {
    padding-left: 44px;
  }
  .el-popconfirm__main {
    font-size: 20px;
  }
  .table-icon {
    cursor: pointer;
    width: 28px;
  }
  .el-dropdown {
    color: #000;
  }
  .el-button--primary.dis {
    background: #bbb;
    border-color: #bbb;
  }
  .m-table {
    border: 1px solid #bbb;
    thead th {
      color: #000;
    }
  }
  .green-border td {
    border: 3px solid #0A886D;
    border-right: 0;
    border-left: 0;
    &:nth-of-type(1) {
      border-left: 3px solid #0A886D;
    }
    &:nth-last-of-type() {
      border-right: 3px solid #0A886D;
    }
  }

}
body {
  .el-dialog.sm-dialog {
    margin-top: 5vh !important;
    min-width: 900px;
  }
  .el-dialog__title {
    font-size: 32px;
  }

  .active-drop.el-dropdown-menu__item {
    color: $--color-primary;
  }
}

.border-btn {
  border: 1px solid $--color-primary;
  color: $--color-primary;
  width: 180px;
  font-size: 20px;
  height: 46px;
  margin-right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}