.my-dialog--title {
  font-size: 28px;
}
body {
  .my-dialog {
    .el-form-item__label {
      font-size: 20px;
    }
    .el-input__inner {
      font-size: 20px;
    }
    .dialog-btn {
      font-size: 20px;
      padding-left: 20px;
      padding-right: 20px;
      min-width: 200px;
    }
  }

  ul .el-dropdown-menu__item {
    font-size: 18px;
    height: 2em;
    line-height: 2em;
  }

  .my-table .el-table__header {
    & thead th {
      background: #F5F0F0;
      font-size: 20px;
      color: #000;
      font-weight: normal;
    }
  }
  .dialog-btn--exit {
    color: #000;
  }

  .el-checkbox__inner {
    width: 20px;
    height: 20px;
  }
  .el-checkbox__inner::after {
    left: 8px;
    height: 12px;
  }
}

.border-btn {
  border: 1px solid $--color-primary;
  color: $--color-primary;
  width: 180px;
  font-size: 20px;
  height: 46px;
  margin-right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}